.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
@media (max-width: 992px) {
  .custom-navbar-nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .custom-navbar-nav .nav-item {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .position-relative {
    position: relative;
    z-index: 1020; /* Higher than the page content */
  }

  /* Style for the collapsible menu */
  .navbar-collapse {
    position: absolute;
    top: 100%; /* Position it right below the navbar */
    left: 0;
    right: 0;
    background-color: white; /* Or any color that matches your design */
    z-index: 1010; /* Ensure it's above the page content but below the navbar */
  }
}
