/* NAVBAR */
@media (max-width: 992px) {
  .custom-navbar-nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .custom-navbar-nav .nav-item {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .position-relative {
    position: relative;
    z-index: 1020;
  }

  /* Style for the collapsible menu */
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1010;
  }
}
